body{
	background-color: #12DDEE;
}
#main{
	background-color: #38908C;
	margin: 10%;
	/*padding: 4%;*/
	display: flex;
	justify-content: space-around;
	border-radius: 4%;
}
.sub{
	background-color: #2DB0AA;
	width: 25%;
	margin: 4%;
	border-radius: 5%;
	text-align: center; 
	box-shadow: 4px 4px 5px 5px;
}
.sub:hover{
	color:#91DDAA;
}
img{
	width: 70%;
	height: 40%;
	border-radius: 15%;
	margin: 4%;
}
p{
	font-size: 20px;
}
a{
	text-decoration: none;
}
a>h3{color: black}
